form {
  display: flex;
}

span.path {
  width: 242px;
  margin-right: 10px;
}

input[type="text"].terminal-input {
  font-family: var(--terminal-font);
  font-size: 1rem;
  color: #ddd;
  background: transparent;
  border: none transparent;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline;
  flex-grow: 1;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  span.path {
    width: auto;
  }
}
