/* Animated slider */
:host {
  display: block;
  overflow: hidden;
}

.parent {
  height: 100px;
  width: 200%;
  display: flex;
}

.parent > div {
  flex: 1;
  width: 100%;
}

.left-pane {
  background: #1976d2;
}

.right-pane {
  background: crimson;
}
